{% extends 'pages/base.jinja' %}

{%block title%}
Flask Demo - Hello!
{% endblock %}

{% block content %}
<h2>sorry we can't seem to find that</h2>

<P>
 <a href="/" role="botton">go the the home page</a>
</P>
{%endblock%}