{% extends 'pages/base.jinja' %}

{%block title%}
Flask Demo - this is your number
{% endblock %}

{% block content %}

<h1> here is your number</h1>

<P> This is my second Flask websight</P>
<article id="Random">
     {{ number }}

</article>



{%endblock%}