{% extends 'pages/base.jinja' %}

{%block title%}
Flask Demo - random number
{% endblock %}

{% block content %}

<h1> A lovely random number</h1>
<P> This is my second Flask websight</P>
<article id="Random">
     {{ number }}

</article>



{%endblock%}